/*so tiny*/
*{
  box-sizing:border-box;
  word-break:break-all;
}
body{
  margin:auto;
  max-width:360px;
}
p,h1,h2,h3,h4,h5{
  margin-bottom:1rem;
}
h1,h2,h3,h4,h5{
  margin-top:1rem;
}
h1{
  font-size:1.4rem;
}
h2{
  font-size:1.2rem;
}
h3,h4,h5{
  font-size:1rem;
}
header,footer{
  text-align:center;
}
footer{
  margin-top:1rem;
}
figure.san{
  margin:0;padding:0;
  text-align:center;font-size:0.7rem;  
}
figure.san img{
  width:100%;
  object-fit:cover;
}


a{
  cursor:pointer;
  text-decoration:underline;
}
a:hover,a:focus{
  opacity:0.6;
}
